version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mean_mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo_user
      MONGO_INITDB_ROOT_PASSWORD: mongo_pass
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - mean-net

  backend:
    build: ./backend
    container_name: mean_backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: "mongodb://mongo_user:mongo_pass@mongo:27017/mean_db?authSource=admin"
    depends_on:
      - mongo
    networks:
      - mean-net

  frontend:
    build: ./frontend
    container_name: mean_frontend
    restart: always
    networks:
      - mean-net

  nginx:
    image: nginx:stable-alpine
    container_name: mean_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - mean-net

volumes:
  mongo_data:

networks:
  mean-net:
    driver: bridge
